# Beginner Classification Unpreprocessed

Made by: Anthony Kevin Oktavius

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import klib
import plotly
import plotly.express as px
import shap
import hyperopt
from collections import Counter
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler
from sklearn import svm
from sklearn.preprocessing import MinMaxScaler, LabelEncoder, StandardScaler
from sklearn.linear_model import SGDClassifier, LogisticRegression
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.pipeline import make_pipeline
from scipy.stats import zscore
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

**Dataset Description**

In this dataset, there are 3 fields that can be used. Below are the details.
* Age
* Interest
* Success

## Data Loading

CSV Loading

In [4]:
beginner_classification_dataset = pd.read_csv("beginner_classification_dataset.csv", sep = ',')
beginner_classification_dataset.head()

         age   interest  success
0  23.657801  18.859917      0.0
1  22.573729  17.969223      0.0
2  32.553424  29.463651      0.0
3   6.718035  25.704665      1.0
4  14.401919  16.770856      0.0

Dataset Field Info

In [5]:
beginner_classification_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       297 non-null    float64
 1   interest  297 non-null    float64
 2   success   297 non-null    float64
dtypes: float64(3)
memory usage: 7.1 KB

In [6]:
beginner_classification_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       297 non-null    float64
 1   interest  297 non-null    float64
 2   success   297 non-null    float64
dtypes: float64(3)
memory usage: 7.1 KB

Dataset Statistics

In [7]:
beginner_classification_dataset.describe()

              age    interest     success
count  297.000000  297.000000  297.000000
mean    23.709718   46.986527    0.569024
std      8.864000   21.956447    0.496049
min      2.347560   -0.852800    0.000000
25%     17.002148   28.689067    0.000000
50%     23.283644   45.695926    1.000000
75%     30.661149   65.171876    1.000000
max     45.773729   97.175508    1.000000

In [8]:
beginner_classification_dataset.describe()

              age    interest     success
count  297.000000  297.000000  297.000000
mean    23.709718   46.986527    0.569024
std      8.864000   21.956447    0.496049
min      2.347560   -0.852800    0.000000
25%     17.002148   28.689067    0.000000
50%     23.283644   45.695926    1.000000
75%     30.661149   65.171876    1.000000
max     45.773729   97.175508    1.000000

List all Features

In [9]:
age_field = "age"
interest_field = "interest"
success_field = "success"

List all Numerical and Categorical Features

In [10]:
numerical_features = [age_field, interest_field]
categorical_features = [success_field]

List all features and target variables

In [72]:
target = success_field
features = numerical_features.copy()

# Data Visualization